*{
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;

}
.paragraph-text{
    font-size: 13px;
    line-height: 20px;
    padding: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
}


/* Header section starts from here */

header{
    background-color: #E554731A;
}

.banner{
    display: flex;
    margin: 0px 170px 100px 170px;
}
.banner-text{
    margin: 120px 150px 100px 0px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 700px;
}

.banner-btn{
    border: none;
    padding: 12px 30px;
    background-color:#E55473;
    border-radius: 6px;
    color: white;
}


.banner-img img{
    width: 450px;
    height: 100%;
    
}

/* Featured section starts from here */

.featured-img{
    display: flex;
    justify-content: space-around;
    margin: 0px 160px;
}   
.featured-img div{
    height: 400px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items:last baseline;
}

.featured-img div img{
    height: 300px;
    width: 220px;
}

.flower-name{
    display: flex;
    justify-content: space-around;
    margin: 30px 170px;
    font-size: 20px;
    text-decoration: underline;
}

.img-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* Extra support section starts from here */


.extra-support{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 170px;
    padding: 50px;
}
.sup-img{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    line-height: 30px;
    font-size: 20px;
}


/* Offer section starts from here */

.offer-section{
    display: flex;
    background-color: #E554731A;
    margin: 100px 0px;
    justify-content: space-around;
    align-items: center;
}
.offer-text{
    margin-left: 170px;
    text-align: center;

}
.offer-img{
    margin-right: 170px;
}
.offer-img img{
    height: 300px;
    width: 240px;
    margin: 50px 0px;
}

.signup-btn{
    border: none;
    padding: 12px 30px;
    background-color:#E55473;
    border-radius: 6px;
    color: white;
}

/* Product showcase section starts from here */

.showcase-title{
    text-align: center;
    margin: 60px 400px;
}

.showcase{
    display: flex;
    justify-content: space-evenly;
}
.showcase div{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    text-align: center;
    height: 320px;
    width: 270px;
    border: 3px solid #faa1e449;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    overflow: hidden;
    color: rgba(31, 31, 31, 0.6);
}


.showcase span{
    font-weight: bolder;
    font-size: 15px;
    color: rgb(46, 46, 46);
}
.showcase button{
    background-color:#e5547393;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 0px 10px;
    
}

/* Instagram section starts from here */

.insta-heading{
    text-align: center;
    margin: auto;
    width: 40%;
    margin-top: 100px;
}

.insta-img{
    display: flex;
    justify-content: center;
}
.insta-img img{
    height: 280px;
    margin: 7px;
}

/* Subscribe section starts from here */

.subscribe-sec{
    background-image: url("./Flower Asset/Rectangle 9.png");
    margin: 100px 170px;
    text-align: center;
    height: 315px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box input{
    width: 450px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: #E55473;
    font-weight: 700;
}
.text-box button{
    border: none;
    padding: 12px 30px;
    background-color:#E55473;
    border-radius: 6px;
    color: white;
}

/* Footer Section starts from here */

footer{
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    padding: 70px;
}
footer p{
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
    width: 35%;
    margin: auto;
}
.copy-text{
    color: rgb(122, 122, 122);
    
}